/* -----------------------------------*/

/* ---------->>> COLORS <<<-----------*/

/* -----------------------------------*/

/* -----------------------------------*/

/* ---------->>> GLOBAL <<<-----------*/

/* -----------------------------------*/

body {
  color: #3B4444;
}

.btn-primary {
  color: #FFFFFF;
  background-color: #D90429;
  border-color: #C5D5EA;
}

.btn-primary:hover {
  color: #FFFFFF;
  background-color: #c00424;
  border-color: #C5D5EA;
}

.btn-primary.focus,
.btn-primary:focus {
  color: #FFFFFF;
  background-color: #D90429;
  border-color: #C5D5EA;
}

.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #FFFFFF;
  background-color: #D90429;
  border-color: #C5D5EA;
}

.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
  color: #FFFFFF;
  background-color: #D90429;
  border-color: #C5D5EA;
}

.default-glyph-color {
  color: #3B4444;
}

div.action-tools > a > span.glyphicon:hover {
  color: #D90429;
}

.alert-success {
  color: #6a7b7b;
  background-color: #d6ecff;
  border-color: #89c9ff;
}

#status-container {
  margin-top: 35px;
}

.panel-default > .panel-heading {
  color: #3B4444;
  background-color: #eef3f9;
  border-color: #e3ebf5;
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #f6f8fc;
}

/* -------------------------------------*/

/* ---------->>> CALENDAR <<<-----------*/

/* -------------------------------------*/

.ui-datepicker-header {
  background: #D90429;
  color: #FFFFFF;
}

.ui-datepicker td span,
.ui-datepicker td a {
  color: #666666;
}

.ui-widget-content {
  border: 1px solid #fff;
  background: #fff;
  color: #333;
}

.ui-state-default,
.ui-widget-content .ui-state-default {
  border: 1px solid #fff;
  background: #fff;
  font-weight: bold;
  color: #3B4444;
}

.ui-datepicker-calendar .ui-state-active {
  color: #D90429;
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
  border: 1px solid #3B4444;
  background: #C5D5EA;
  font-weight: bold;
  color: #D90429;
}

.ui-state-hover .ui-icon,
.ui-state-focus .ui-icon {
  background-image: url("images/ui-icons_ffffff_256x240.png");
}

.ui-datepicker-today a.ui-state-highlight {
  border-color: #d3d3d3;
  background: #e6e6e6;
  color: #555555;
}

.ui-datepicker-today.ui-datepicker-current-day a.ui-state-highlight {
  border-color: #aaaaaa;
  background: #ffffff;
  color: #212121;
}

#datepicker {
  padding-bottom: 10px;
}

#list_ul input[type=text] {
  margin-top: 5px;
  margin-bottom: 5px;
}

#list_ul input[type=button] {
  margin-right: 2px;
  margin-left: 2px;
}

#item_list li {
  margin-top: 5px;
  margin-bottom: 5px;
}

.list-unstyled {
  list-style: none;
}

.loader {
  display: none;
}

.clear {
  clear: both;
}

.glyphicon-trash {
  padding: 10px;
}

.glyphicon-pencil {
  padding: 10px;
}

.hide {
  display: none!important;
}

#user-timezone {
  color: red;
}

#create_errors_ajax li {
  list-style: none;
}

#create_errors li {
  list-style: none;
}

#create_button {
  width: 90px;
  height: 38px;
  position: relative;
}

.edit-button-submit {
  width: 80px;
  height: 34px;
  position: relative;
}

/* -----------------------------------*/

/* -------->>> NAVIGATION <<<---------*/

/* -----------------------------------*/

.navbar-default {
  background-color: #D90429;
  border-bottom: solid 4px #C5D5EA;
}

.navbar-default .navbar-nav > li > a {
  color: #FFFFFF;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #C5D5EA;
}

.navbar-default .navbar-brand {
  color: #FFFFFF;
}

.navbar-brand {
  padding: 8px 15px;
}

.navbar-default .navbar-toggle:hover {
  background-color: #C5D5EA;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #FFFFFF;
}

.navbar-default .navbar-toggle {
  border-color: #FFFFFF;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
  color: #3B4444;
  background-color: #FFFFFF;
}

@media (max-width: 767px) {
  .navbar-nav .open .dropdown-menu > li > a:hover {
    color: #FFFFFF;
    background-color: transparent;
  }

  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #FFFFFF;
  }

  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
    color: #C5D5EA;
  }
}

@media (min-width: 768px) {
  .col-sm-4 {
    width: 39%;
  }

  .col-sm-8 {
    width: 61%;
  }
}

@media (min-width: 992px) {
  .col-sm-4 {
    width: 30%;
  }

  .col-sm-8 {
    width: 70%;
  }
}