
.ui-datepicker-today a.ui-state-highlight {
    border-color: #d3d3d3;
    background: #e6e6e6;
    color: #555555;
}
.ui-datepicker-today.ui-datepicker-current-day a.ui-state-highlight {
    border-color: #aaaaaa;
    background: #ffffff;
    color: #212121;
}
#item_list {
    float: left;
    margin-left: 30px;
    width: 50%;
   // border: 1px solid blue;
}

.loading-image {
    position: float;
}
.loader
{
    display: none;
    //width:200px;
    //height: 200px;

}
#datepicker {
    float: left;
}

.clear {
    clear: both;
}

.glyphicon-trash {
    padding: 10px;
}

.glyphicon-pencil {
    padding: 10px;
}
.hide {
    display: none!important;
}

#user-timezone {
    color: red;
}