/* -----------------------------------*/
/* ---------->>> COLORS <<<-----------*/
/* -----------------------------------*/

@light-grey:  #e6e6e6;
@med-grey:#d3d3d3;
@charcoal: #555555;
// Theme: https://coolors.co/app/2b2d42-8d99ae-edf2f4-bbdb9b-d90429
//https://coolors.co/app/3b4444-a3d5ff-ffffff-c5d5ea-d90429
@theme-primary: #D90429;
@theme-light:#FFFFFF;
@theme-dark:#3B4444;//493657//0F0A0A//272D2D
@theme-accent:#A3D5FF;//BBDB9B//2EC4B6//not bad: C5D5EA//A3D5FF
//@theme-accent:#48E5C2;
//@theme-accent:#A4C2A8;
@theme-neutral:#C5D5EA;
@light-text: #FBFBFF;
@dark-text: #0B4F6C;


/* -----------------------------------*/
/* ---------->>> GLOBAL <<<-----------*/
/* -----------------------------------*/
body {
  color: @theme-dark;
}

.btn-primary {
  color: @theme-light;
  background-color: @theme-primary;
  border-color: @theme-neutral;
}

.btn-primary:hover {
  color: @theme-light;
  background-color: darken(@theme-primary, 5%);
  border-color: @theme-neutral;
}

.btn-primary.focus, .btn-primary:focus {
  color: @theme-light;
  background-color: @theme-primary;
  border-color: @theme-neutral;
  //outline:@theme-accent solid thin;
}

.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: @theme-light;
  background-color: @theme-primary;
  border-color: @theme-neutral;
  //outline:@theme-accent solid thin;
}

.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
  color: @theme-light;
  background-color: @theme-primary;
  border-color: @theme-neutral;
  //outline:@theme-accent solid thin;
}

.default-glyph-color {
  color: @theme-dark;
}

div.action-tools > a > span.glyphicon:hover {
  color: @theme-primary;
}

.alert-success {
  color: lighten(@theme-dark, 20%);
  background-color: lighten(@theme-accent, 10%);
  border-color: darken(@theme-accent , 5%);
}

#status-container {
  margin-top: 35px;
}

.panel-default>.panel-heading {
  color: @theme-dark;
  background-color: lighten(@theme-neutral, 11%);
  border-color: lighten(@theme-neutral, 8%);
}

.table-striped>tbody>tr:nth-of-type(odd) {
  background-color: lighten(@theme-neutral, 13%);
}

//.glyphicon .glyphicon-exclamation-sign {
//  color: @theme-neutral;
//}

/* -------------------------------------*/
/* ---------->>> CALENDAR <<<-----------*/
/* -------------------------------------*/
//
//.ui-datepicker {
//  width: 216px;
//  height: auto;
//  margin: 5px auto 0;
//  font: 9pt Arial, sans-serif;
//  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
//  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
//  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
//}
//
//.ui-datepicker a {
//  text-decoration:  none;
//}
//
//.ui-datepicker table {
//  width: 100%;
//}
//
.ui-datepicker-header {
  background: @theme-primary;
  color: @theme-light;
}

.ui-datepicker td span, .ui-datepicker td a {
  color: #666666;
}

.ui-widget-content {
  border: 1px solid #fff;
  background: #fff;
  color: #333;
}

.ui-state-default, .ui-widget-content .ui-state-default {
  border: 1px solid #fff;
  background: #fff;
  font-weight: bold;
  color: @theme-dark;
}

.ui-datepicker-calendar .ui-state-active {
  color: @theme-primary;
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
  border: 1px solid @theme-dark;
  background: @theme-neutral;
  font-weight: bold;
  color: @theme-primary;
}

.ui-state-hover .ui-icon,
.ui-state-focus .ui-icon {
  background-image: url("images/ui-icons_ffffff_256x240.png");
}

.ui-datepicker-today a.ui-state-highlight {
  border-color: @med-grey;
  background: @light-grey;
  color: @charcoal;
}
.ui-datepicker-today.ui-datepicker-current-day a.ui-state-highlight {
  border-color: #aaaaaa;
  background: #ffffff;
  color: #212121;
}

#datepicker {
  //width: 17em;
  //width: 350px;
  padding-bottom: 10px;
}

#list_ul input[type=text] {
  margin-top: 5px;
  margin-bottom: 5px;
}

#list_ul input[type=button] {
  margin-right: 2px;
  margin-left: 2px;
}

#item_list {
  //float: left;
  //margin-left: 30px;
  //width: 50%;
  // border: 1px solid blue;
}

#item_list li {

  margin-top: 5px;
  margin-bottom: 5px;
}

.list-unstyled {
  list-style: none;
}

.loading-image {
  //position: float;
  //float: left;
}
.loader
{
  display: none;
  //width:200px;
  //height: 200px;

}

.clear {
  clear: both;
}

.glyphicon-trash {
  padding: 10px;
}

.glyphicon-pencil {
  padding: 10px;
}
.glyphicon {

}
.hide {
  display: none!important;
}

#user-timezone {
  color: red;
}

#create_errors_ajax li {
  list-style: none;
}

#create_errors li {
  list-style: none;
}

#create_button {
  width: 90px;
  height: 38px;
  position: relative;
}

.edit-button-submit {
  width: 80px;
  height: 34px;
  position: relative;
}
/* -----------------------------------*/
/* -------->>> NAVIGATION <<<---------*/
/* -----------------------------------*/

.navbar-default {
  background-color: @theme-primary;
  border-bottom: solid 4px @theme-neutral;
}

.navbar-default .navbar-nav>li>a {
  color: @theme-light;
}

.navbar-default .navbar-nav>li>a:hover {
  color: @theme-neutral;
}

.navbar-default .navbar-brand {
  color: @theme-light;
}

.navbar-brand {
  padding: 8px 15px;
}

.navbar-default .navbar-toggle:hover {
  background-color: @theme-neutral;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: @theme-light;
}

.navbar-default .navbar-toggle {
  border-color: @theme-light;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
  color:@theme-dark;
  background-color:@theme-light;
}

@media (max-width: 767px) {
  .navbar-nav .open .dropdown-menu>li>a:hover {
    color: @theme-light;
    background-color: transparent;
  }
  .navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: @theme-light;
  }
  .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
    color: @theme-neutral;
  }

}

//@media (min-width: 768px) {
//  #datepicker-col {
//    width: 40%;
//  }
//  .col-sm-8 {
//    width: 60%;
//  }
//}

@media (min-width: 768px) {
  .col-sm-4 {
    width: 39%;
  }
  .col-sm-8 {
    width: 61%;
  }
}

@media (min-width: 992px) {
  .col-sm-4 {
    width: 30%;
  }
  .col-sm-8 {
    width: 70%;
  }
}